<mat-toolbar id="matToolbar" color="primary">  
    <mat-toolbar-row>
      <span>
        <button mat-raised-button>
            Pagina Principal
        </button>
      </span>
      <span>
        <button mat-raised-button color="primary">
            Agregar Cliente
        </button>
      </span>
      <hr>
      <span>
        <button mat-flat-button color="primary">
            Iniciar Sesion
        </button>
      </span>
      <span>
        <button mat-flat-button color="primary">
            Crear Cuenta
        </button>
    </span>
    <mat-icon>mood</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>